## Visual Studio
.vs/
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
packages/
*.nupkg

## Database
*.mdf
*.ldf

## Others
*.cache
*.log
